{{template "header.html"}}

    <div class="container">
        <h1 class="text-center">Open Issues in {{.Owner}}/{{.Repo}}</h1>
            <div class="d-flex">
                <ul class="list-group list-group-flush mx-auto justify-content-center">
                    {{range .Issues}}
                        <li class="list-group-item"><a href="{{.IssueUrl}}">#{{.Number}}</a> {{.Title}}: ({{.State}})</li>
                    {{end}}
                </ul>
            </div>
    </div>
{{template "footer.html"}}